<li class="nav-item">
<a href="#" class="nav-link">
    <i class="nav-icon fas fa-copy"></i>
    <p>
    {{ val }}
    <i class="fas fa-angle-left right"></i>
    {% if badge %}
    <span class="badge badge-{{ badge.type }} right">{{ badge.val }}</span>
    {% endif %}
    </p>
</a>
<ul class="nav nav-treeview">
    {% for nav in navs %}
    <li class="nav-item">
    <a href="{{ nav.url }}" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>{{ nav.val }}</p>
    </a>
    </li>
    {% endfor %}
</ul>
</li>